html{
    font-size: 65.5%;
}

body{
    background: url(../img/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    max-width: 1440px;
    display: grid;
    grid-template-areas: "logo logo logo"
                         "services services services"
                         " . . footer ";
}

@media (max-width:425px){
    body{
        background: url(../img/bg-mobile.svg) no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
.logo img{
    grid-area: logo;
    margin-left: 70px;
    margin-top: 20px;
    width: 215px;
}

@media (max-width:425px){
    .logo img{
        width: 130px;
        margin-top: 30px;
        margin-left: 35px;
    }
}

.services{
    grid-area: services;
    display: flex;
}

@media (max-width:425px){
    .services{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

.services .illustration img{
    margin-left: 74px;
    max-width: 709px;
    min-width: 315px;
    width: 100%;
}

@media (max-width:425px){
    .services .illustration img{
        margin: 0;
        padding: 0;
        max-width: 250px;
        width: 100%;
    
    }

    .illustration{
        display: flex;
        justify-content: center;
    }
}

.services .sobre{
    padding-left: 100px;
    color: #ffffff;
    
}

@media (max-width:425px){
    .services .sobre{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .sobre{
        display: flex;
        justify-content: center;
    }
}

.services .sobre h1{
    font-size: 39.5px;
    font-weight: 600;
    margin-top: 43px;
    width: 500px;
}

@media (max-width:425px){
    .services .sobre h1{
        width: 303px;
        font-size: 24px;
        margin: 0;
        margin-top: 55px;
        text-align: center;
        
    }

    .title{
        display: flex;
        justify-content: center;
    }


}

.services .sobre p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-top: 25px;
    font-size: 18px;
    width: 400px;
    margin-right: 90px;
    
}

@media (max-width:425px){
    .services .sobre p{
        text-align: center;
        line-height: 24px;
        font-size: 16px;
        width: 305px;
        margin:0;
    }

    .text{
        display: flex;
        justify-content: center;
    }
}

.button {
    margin-top: 30px;
    background-color: #ffffff;
    color: hsl(257, 40%, 49%);
    height: 55px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: #ffffff;
}

@media (max-width:425px){
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        width: 200px;
        height: 40px;
        font-size: 13px;
        }
    .botao {
        display: flex;
        justify-content: center;
    }

}


.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 20px;
}

@media (max-width:425px){
    .footer {
        display: flex;
        justify-content: center;
        gap: 6px;
        margin: 0;
    }
}

.footer .social i{
    color: #ffffff;
    font-size: 1.7rem;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 13px;
    text-align: center;
    line-height: 40px;
}

.footer .social i:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid  hsl(300, 69%, 71%);
}

@media (max-width:425px){

    .social{
        display: flex;
        gap: 7px;
    }
    .footer .social i{
        font-size: 1.3rem;
        width: 29px;
        height: 29px;
        margin-top: 64px;
        line-height: 29px;
        margin-left: 0;
        margin-bottom: 30px;
    }
}
